
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
	<div class="row">
		<!-- <h2>Fancy Login / Registration form</h2> -->
	</div>
</div>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-md-4 col-md-offset-4">
<div class="form-body">
    <ul class="nav nav-tabs final-login">
    <h4 data-toggle="tab" style="margin-left:10%;"   >Segundo Parcial Leandro Vidal</h4>
    <h4 data-toggle="tab" class="active1"   >Iniciar Sesión</h4>  
  </ul>
    <div class="tab-content">
      
        <div class="innter-form">
            <form class="sa-innate-form" method="post">
            <label>Direccion de correo electronico</label>
            <input id="username" type="text"  [(ngModel)]="username" class="form-control" name="username" placeholder="Ingresa tu Email">
            <label>Clave</label>
            <input id="username" type="password"  [(ngModel)]="password" class="form-control" name="username" placeholder="Ingresa tu clave">            
            <button type="submit" (click)="login()">Entrar</button>
            <!-- <a href="">Forgot Password?</a> -->
            </form>
          </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
    </div>
    </div>

     <!-- <button style="width:30%;font-size:9px;"  (click)="CargarADM('Administrador')" >Admin</button>
            <button style="width:30%;font-size:12px;"  (click)="CargarADM('Profesor')" >Profesor</button> 
            <button style="width:30%;font-size:9px;"  (click)="CargarADM('Administrativo')" >Administrativo</button> -->
