<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/Invitados" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Invitados</a>
   
    <a href="/Login"  class="w3-padding-large w3-hover-red w3-hide-small w3-right">Iniciar Sesión &nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></a>
  </div>
</div>
<body class="Fondo">
  <br>
    <div style="margin-left:35%;margin-top:0%;" class="container">
        <div class="row">
        <form role="form" class="col-md-9 go-right">
          <h2>Obten la ubicación</h2>
                <p style="background-color:grey;border:3px solid black">Si eres invitado a la fiesta, te habrán entregado un codigo hash, ingresalo para obtener la dirección</p>
          <div class="form-group">
          <input  (keyup.enter)="compruebaHash()" [(ngModel)]="hash" id="name" name="name" type="text" class="form-control" required>
          <label for="name">Código</label>
        </div>

        </form>
      </div>
    </div>
  <div [hidden]="ok"><br><br><br><br><br><br></div>
    <div [hidden]="!ok"  class="container">
      
        <h1>Selecciona tu dirección para llevarte hacia la fiesta</h1>
        <div class="form-group">
          <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
        </div>
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          <agm-marker [latitude]="latitudeActual" [longitude]="longitudeActual"></agm-marker>
          
        </agm-map>
        <h1 style="color:#357EBD;float:right;">Tu fiesta sera el día {{fecha}} en el salón {{salon}}</h1>
      </div><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>